.App {
    text-align: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 700;
    font-size: 1.05rem;
    color: #343a40;
    /* border-radius : 1rem; */
    /* background-color : #e4eef0; */
    }
    
    .modal-90w {
    width : 90vw!important;
    max-width : none!important;
    }
    .modal-body {
        padding:.7rem!important;
    }
    
    body {
    min-height : 100vh;
    }
    .App-logo {
    height : 10vmin;
    pointer-events : none;
    }
    
    .empher {
    font-family: 'Montserrat', sans-serif;
    font-size : 1.2rem;
    font-weight : 900;
    letter-spacing : .35rem;  
    }
    
    .topmar {
    margin-top : 15px;
    }
    .lato {
    font-family : 'Lato' , sans-serif;
    }
    
    #titleimage {
    width : 100%;
    max-width : 600px;
    }
    
    #titleimageVF {
        width : 100vw;
        /* max-width : 730px; */
        }
    
    canvas {
        margin-left : auto;
        margin-right : auto;
    }
    #submitanotherlogobutton {
    letter-spacing: .3rem;
    background-color: transparent!important;
    border-color: #9ea4ab!important;
    color : black!important;
    /* opacity : 10; */
    }
    
    #submitanotherlogobutton:hover {
    /* opacity : 100; */
    color : white!important;
    background-color : #f45968!important;
    border-color: white!important;
    }
    .ls {
    letter-spacing: 2px;
    }
    .cont {
    background-color : transparent;
    }
    #lodingimage {
    width : 100%;
    max-width : 400px;
    }
    .lrgr {
    font-size : 1.2rem;
    }
    
    
    @media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation : App-logo-spin infinite 20s linear;
    }
    }
    
    .App-link {
    color: black;
    }
    
    @keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }
    
    .smll {
    font-weight : 400;
    }
    
    .reltvo {
    top : '10vh';
    height : '40vh';
    position : 'relative';
    }
    
    .disp {
    /* height : '100vh'; */
    width : '100vw';
    background-color : '#e5eff1';
    }
    
    .emph {
    font-size : 1.1rem
    }
    
    
    
    .emphy-md {
    font-size : 1.0
    }
    
    .imghpg {
    max-width : 180px;
    }
    
    .emphatty-md {
    font-size : 1.2
    }
    
    .txt-aln-ctr {
    text-align: center;
    }
    
    .emphatty {
    font-size : 1.4rem
    }
    
    
    body {
    padding-right: 0px !important
    }
    
    .modal-open {
    overflow-y: auto;
    }
    
    .smll {
    font-size : .9rem
    }
    
    #cloud:hover {
    cursor : pointer;
    opacity : 1;
    }
    #cloud {
    margin-bottom : 0px;
    opacity : .9;
    }
    #cloudText {
    margin-bottom : 10px
    }
    
    #uploadSection {
    padding: .2rem;
    width : 100%;
    align-items: center;
    padding : '.2rem';
    /* background-color : #e4eef0; */
    }
    
    .padls {
    padding-left : 5px!important;
    padding-right : 5px!important;
    }
    .hvy {
    font-weight : 700;
    }
    
    .ln-ht {
    line-height: 2rem;
    }
    
    .row {
    text-align: center;
    }
    
    
    .textinp {
    /* width : 260px; */
    width : 60vw!important;
    letter-spacing: .7px!important;
    max-width : 330px!important;
    }
    
    .mar-btm-low {
    margin-bottom : 20px!important;
    
    }
    
    .form-check-label {
    font-size : 1.2rem!important;
    font-weight : 500;
    }
    
    .form-check-input {
    margin-top : .5rem!important;
    /* margin-left : -3rem!important; */
    }
    
    .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    }
    
    .modal-content {
    font-family: 'Nunito';
    font-size : .9rem;
    }
    
    .svgcloud {
    fill : transparent!important;
    border-color: #343a40!important;
    stroke : black!important;
    stroke-width: 2px;
    height : 50px;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .svgcloud:hover {
    /* color : #343a40!important; */
    fill: #343a40!important;
    /* color : blue!important; */
    }
    
    .mood {
    margin-bottom : .3rem;
    }
    .fg-cust {
    margin-bottom : .4rem!important;
    }
    .btn-tranny {
    background-color : transparent!important;
    color : #343a40!important;
    border-color: #343a40!important;
    
    }
    .btn-tranny:hover {
    background-color : #343a40!important;
    color : white!important;
    border-color : white!important;
    }
    /* .tranny-ass {
        mix-blend-mode: screen;
    } */
    
    /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
    input.visually-hidden:focus + label {
    outline: thin dotted;
    }
    input.visually-hidden:focus-within + label {
    outline: thin dotted;
    }
    
    .topmartit {
    margin-top : 30px;
    }
    .caveat {
    font-size : 1rem;
    /* font-size : .9rem; */
    font-weight : 500;
    }
    .instructions {
    padding-left : 4vw;
    padding-right : 4vw;
    }
    .subtitle {
    font-size : .9rem;
    font-weight: 400;
    }
    
    .sm-mar-btm {
    margin-bottom : 5px;
    }
    
    .row-btm-brdr {
    border-bottom: #ececec 1px solid;
    overflow: hidden;
    }
    @media(min-width:585px) {
    .row {
    white-space : pre-line;
    min-height : 12%;
    }
    .emphy {
        font-size : 1.1rem
        }
    }
    @media(min-width:735px) {
    .emphy {
        font-size: 1.24rem;
    }
    }
    .letadd {
    letter-spacing : .65px;
    }
    
    .letaddmore {
    letter-spacing : 1.4px;
    }
    .letaddhalf {
    letter-spacing:  .3px;
    }
    .container {
    max-width : none!important;
    }
    
    #clientCustom {
    /* height : 100vh; */
    width : 100vw;
    }
    .midCenter {
    position : absolute;
    left : 15vw;
    width : 70vw;
    margin-left : auto!important;
    margin-right : auto!important;
    align-items: center;
    align-content: center;
    text-align : center;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @keyframes ldio-sxqf1rd5i1d {
    0% { opacity: 1 }
    100% { opacity: 0 }
    }
    .ldio-sxqf1rd5i1d div {
    left: 139.46px;
    top: 18.35px;
    position: absolute;
    animation: ldio-sxqf1rd5i1d linear 8.333333333333332s infinite;
    background: #07abcc;
    width: 88.08px;
    height: 44.04px;
    border-radius: 44.04px / 22.02px;
    transform-origin: 44.04px 165.15px;
    }.ldio-sxqf1rd5i1d div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -7.638888888888888s;
    background: #e15557;
    }.ldio-sxqf1rd5i1d div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -6.944444444444444s;
    background: #e4934b;
    }.ldio-sxqf1rd5i1d div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -6.249999999999999s;
    background: #e2bb8b;
    }.ldio-sxqf1rd5i1d div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -5.5555555555555545s;
    background: #e1e7e7;
    }.ldio-sxqf1rd5i1d div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -4.861111111111111s;
    background: #91bcc6;
    }.ldio-sxqf1rd5i1d div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -4.166666666666666s;
    background: #07abcc;
    }.ldio-sxqf1rd5i1d div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -3.472222222222222s;
    background: #0a69aa;
    }.ldio-sxqf1rd5i1d div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -2.7777777777777772s;
    background: #194645;
    }.ldio-sxqf1rd5i1d div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -2.083333333333333s;
    background: #e15557;
    }.ldio-sxqf1rd5i1d div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -1.3888888888888886s;
    background: #e4934b;
    }.ldio-sxqf1rd5i1d div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.6944444444444443s;
    background: #e2bb8b;
    }.ldio-sxqf1rd5i1d div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #e1e7e7;
    }
    .loadingio-spinner-spinner-gsum2rhl6ji {
    width: 367px;
    height: 367px;
    display: inline-block;
    overflow: hidden;
    background: none;
    }
    .ldio-sxqf1rd5i1d {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    }
    .ldio-sxqf1rd5i1d div { box-sizing: content-box; }